---
# Example configuration file for Epsilon host application
# vim:ft=yaml

library:  ~/Music/Epsilon Library
data_dir: data
hub:      http://epsilon.ideahack.devyn.me/

# Register on the hub with POST /session/user/registered_hosts
# Insert id and token here

id:       null
token:    null
