@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  background-color: #333;
  color: #999;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.ani {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}

* { box-sizing: Border-box }

#host_id {
  font-size: 3em;
  margin: 0.2em;
}

a.button, a.button:visited {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  margin: 10px;
  padding: 0.5em;
  width: 12em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

a.button.orange{
  border-color: #ffa400;
  color: #ffa400;
}

a.button.orange:hover{
  background-color: #ffa400;
  border-color: #ffa400;
  color: #333;
}

a.button:hover{
  color: #fff;
  border-color: #fff;
  background: rgba(255,255,255,0.2);
}

a.button.disabled{
  border-color: #555;
  color: #555;
}

a.button.disabled:hover{
  border-color: #555;
  color: #555;
  background: none;
}

a.button.dark{
  width: auto;
  border: 1px solid #222;
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0.8em;
}

a.button.dark:hover{
  background: #222;
}


a.button.red.filled{
  background: #e94545;
  color: #fff;
  border-color: #e94545;
}

a.button.red.filled:hover{
  color: #e94545;
}

a.button.filled:hover{
  background: #fff;
  border-color: #fff;
}

a.button.blue{
  border-color: #0093FF;
  color: #0093FF;
}

a.button.blue:hover{
  background-color: #0093FF;
  border-color: #0093FF;
  color: #333;
}

.titlebar-drag-region{
  width: 100%;
  height: 2em;

  -webkit-app-region: drag;
}

.titlebar{
  position: fixed;
  top: 0;
  height: 2em;
  border-bottom: 1px solid #444;
  width: 100%;
}

.titlebar .controls{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 8px;
  margin-right: 0;
  float: left;
}

.titlebar .close{
  background: #e94545;
}

.titlebar .close:hover{
  background: #fff;
}

.titlebar .min{
  background: #ffa400;
}

.titlebar .min:hover{
  background: #fff;
}

.logo{
  padding-left: 1.5em;
}

.logo.inner{
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 0;
}

.label{
  font-size: 0.8em;
}

#host_id{
  font-weight: 700;
}

form input{
  font-family: "Lato", sans-serif;
  border: 0;
  border-bottom: 1px solid #555;
  width: 15em;
  background: none;
  outline: none;
  padding: 0.5em 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}

form input.last{
  border-bottom: 0;
}

form input.submit{
  margin-top: 1em;
  width: 100%;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

form input.submit:hover{
  background: #393939;
}

.message{
  font-size: 1.4em;
  font-weight: 300;
}

#dragbox {
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

#dragbox .overlay{
  display: block;
  z-index: 99;
  position: absolute;

  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;

  width: auto;
  height: auto;
}

#dragbox .fallback{
  display: none;
}

#over-arrow, #ready{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#dragbox.drag_hover .message, #dragbox.drag_hover~.button{
  opacity: 0.25;
}

#dragbox.drag_hover #under-arrow, #dragbox.drag_hover #ready{
  display: none;
}

#dragbox.drag_hover #over-arrow{
  opacity: 1;
}

#dragbox.ready #under-arrow{
  display: none;
}

#dragbox.ready #ready{
  opacity: 1;
}

#share_link{
  position: relative;
  z-index: 999;
}

.playing .toFill{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  fill: #666;
}
